My workflow 6.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3aafd5cc-acee-41d1-99e2-230aeac6d4fb",
      "name": "Telegram Trigger",
      "webhookId": "ba1e2b45-35ad-4bdf-98d4-f8b63b931361",
      "credentials": {
        "telegramApi": {
          "id": "RNhAtochtgfPmrqK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4442f50c-59d7-49f0-90a1-6749e737d98d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "dff7fcf1-e9bb-48a9-8730-eeaf00beb3e1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "01ICpKrTB4691P7U",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "927621944",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "950bca39-906c-48fc-8160-2f08e6ddbce8",
      "name": "Send a text message",
      "webhookId": "f20c8b2a-90fa-4f3f-bcea-e86f69f3c2b1",
      "credentials": {
        "telegramApi": {
          "id": "RNhAtochtgfPmrqK",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "636ef771-875b-4f64-be28-6e58b34a1222",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e9917855a827fa5eef4d58948750bed346cceba9050e21f2524bc0b32dc78c8"
  },
  "id": "OIb5ok55EDn7xBHo2ND9C",
  "tags": []
}